<h3>Stats: todo-list</h3>
<p>todo-item: {{itemCount}}</p>
<p>checked: {{checkCount}}</p>

<ul>
  {{#each model as |todo index|}}
    {{todo-item model=todo todos=itemCount index=index}}
  {{/each}}
</ul>
